<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/bootstrap.css">
  <style>
  </style>
</head>

<body style="background-image: url('/static/bg.jpg');">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-column flex-sm-row">
    <div class="container-fluid">
      <a class="navbar-brand" href="new_search">
        <img src="/static/chico.png" alt="chico" width="100" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="new_search">New Search</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container p-4 mt-5 text-white col-lg-5 rounded mx-auto color row align-items-start text-center"
    style="background-color:#0E3345;">
    <h1>{{name}}</h1>
    <div class="row">
      <div class="text-center col order-1">
        <label for="media" class="form-label">Média (R$) </label>
        <div class="p-1 mb-3 rounded text-black " , style="background-color:white">
          {{mean}}
        </div>
        <label for="mediana" class="form-label">Mediana (R$)</label>
        <div class="p-1 mb-3 rounded text-black" , style="background-color:white">
          {{median}}
        </div>
        <label for="teto" class="form-label">Teto (R$)</label>
        <div class="p-1 rounded mb-3 text-black" , style="background-color:white">
          {{top}}
        </div>
        <label for="piso" class="form-label">Piso (R$)</label>
        <div class="p-1 rounded mb-3 text-black" , style="background-color:white">
          {{bottom}}
        </div>
      </div>
      <div class="text-center col order-2">
        <label for="media" class="form-label">Média (R$/h) </label>
        <div class="p-1 mb-3 rounded text-black " , style="background-color:white">
          {{mean_hour}}
        </div>
        <label for="mediana" class="form-label">Mediana (R$/h)</label>
        <div class="p-1 mb-3 rounded text-black" , style="background-color:white">
          {{median_hour}}
        </div>
        <label for="teto" class="form-label">Teto (R$/h)</label>
        <div class="p-1 rounded mb-3 text-black" , style="background-color:white">
          {{top_hour}}
        </div>
        <label for="piso" class="form-label">Piso (R$/h)</label>
        <div class="p-1 rounded mb-3 text-black" , style="background-color:white">
          {{bottom_hour}}
        </div>
      </div>
    </div>
    <img src="/static/histogram.png" alt="Distribuição dos funcionários por horas trabalhadas"
      title="Distribuição dos funcionários por horas trabalhadas" />
  </div>

</body>

</html>